
/*
 *  Vk
 */

#show_profile, #login_button, #token, #oauth, #audio {
    cursor: pointer;
}

#user_pic {
    display: inline-block;
    padding: 5px;
}

.user_image {
    border-radius: 5px;
}

/*
 *  LastFM
 */

#lastfm_auth, #fetch_session, #auth, #artist, #artistButton {
    cursor: pointer;
}

/******************************/

#top_menu {
    z-index: 3;
}

#main_area {
    padding-left: 20px;
}

/*
 * Go Top Button
 */

#gotop_area {
    position: fixed;
    bottom: 0px;
    background: white;
    display: none;
    z-index: 19;
}

#gotop {
    margin-top: 10px;
    bottom: 5px;
    cursor: pointer;
}

/**
 * Autocomplete
 */

#autocomplete {
    display: none;
    position: absolute;
    z-index: 5;
    width: 350px;
    border: 2px solid #34495e;
}

#autocomplete a {
    color: #34495e;
    text-decoration: none;
}

#autocomplete div {
    cursor: pointer;
}

#autocomplete div:hover {
    text-decoration: none;
    background-color: #acbcc9 !important;
} 

.selectedTermin {
    background-color: #acbcc9 !important;
}

/**
 * Search
 */

#search-area {
    position: fixed;
    width: 400px;
    height: 200px;
    z-index: 4;
    background: transparent;
}

#search-box {
    top: 25px;
}

#search-box button, a, input {
    outline: none;
}

#artist-info {
    position: relative;
    top: 175px;
    z-index: 6;
}

.event {
    width: 400px;
    padding: 20px;
    margin-bottom: 5px;
}

.event:hover {
    border: 1px solid white;
    box-shadow: 0 0 5px white;
}

/**
 * Map area
 */

#map-area {
    position: fixed;
    left: 0px;  /*left: 450px;*/
    top: 0px;
    z-index: 2;
}

#map-canvas {   
    width: 125%;
    height: 950px;
    margin: 0px;
    padding: 0px;
}

#animateTest {
    visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
}