
/*
 *  Vk
 */

#show_profile, #login_button, #token, #oauth, #audio {
    cursor: pointer;
}

#user_pic {
    display: inline-block;
    padding: 5px;
}

.user_image {
    border-radius: 5px;
}

/*
 *  LastFM
 */

#lastfm_auth, #fetch_session, #auth, #artist, #artistButton {
    cursor: pointer;
}

/******************************/

#autocomplete {
    display: none;
    position: absolute;
    z-index: 5;
    width: 350px;
}

#autocomplete a {
    cursor: pointer;
}

#top_menu {
    z-index: 3;
}

#main_area {
    padding-left: 20px;
}

#search-area {
    position: fixed;
    width: 400px;
    height: 200px;
    z-index: 4;
    background: white;
}

#search-box {
    top: 50px;
}

#performers-list {
    position: relative;
    top: 200px;
    z-index: 1;
}

.event {
    width: 400px;
    padding: 20px;
    margin-bottom: 5px;
}

.event:hover {
    border: 1px solid white;
    box-shadow: 0 0 5px white;
}

#map-area {
    position: fixed;
    left: 25%;
    top: 50px;
    z-index: 2;
}

#map-canvas {   
    width: 1200px;
    height: 800px;
    margin: 0px;
    padding: 0px;
}

#search-box button, a, input {
    outline: none;
}

#animateTest {
    visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
}