<a id="slide">Slide</a>
<a id="markers" class="layers active"><b>markers</b></a>
<a id="paths" class="layers active"><b>paths</b></a>
<a id="go-top"><b>^</b></a>
<div id="date-selector">Date</div>
<section id="date">
    <section id="years"></section>
    <section id="months"></section>
    <section id="days"></section>          
</section>