<section id="tabs">
    <nav class="tab active" id="artist">By artist</nav>
    <nav class="tab" id="city">By city</nav>
</section>
<input class="search-field" placeholder="Enter <%= activeTab %>..">              
<section id="autocomplete"></section>
<section id="tags"></section>
<a class="search-button">Search</a>
<a class="festivals" title="Festivals only">F</a>