
#home-area
	background url('../home.jpg')
	width 100%
	height 100%
	position absolute
	top 0px
	left 0px
	zoom 50%
	background-position center left
	-webkit-filter hue-rotate(180deg) grayscale(30%)

#main-idea
	position relative
	top 10%
	text-align center
	color #061815
	font normal small-caps 110pt fantasy

#secondary-idea
	position relative
	top 10%
	text-align center
	color #061815
	font bold 70pt serif
	font normal small-caps 70pt fantasy

#search-for-bands
	position relative
	margin 0 auto
	margin-top 10%
	width 45%

.search-input
	width 60%
	line-height 48pt
	display inline
	outline none
	border 0px
	padding 20px
	font normal small-caps 80pt fantasy

.button-bingo
	width 30%
	cursor pointer
	padding 24px
	text-align center
	display inline
	font normal small-caps 80pt fantasy
	color white
	background #134a5b
	-webkit-filter hue-rotate(0deg) grayscale(0%)
	&:hover
		background #1d453e !important