
$bg = rgba(16,49,90,1)
$font = normal small-caps 18px fantasy
$sidebar_width = 303px
$padding = 14px

/**
 * Search
 */

#sidebar
    position fixed
    top 0px
    left 0px
    width 360px
    height 100%
    background rgba(16,49,90,0.2)
    z-index 3

#controls-top
    position fixed
    top 0px
    left 360px
    z-index 3
    margin-top 15px

#slide
    cursor pointer
    padding $padding
    width 10px
    line-height 25pt
    text-align center
    font $font
    display inline-block
    color white
    background rgba(16,49,90,0.5)
    &:hover
        background rgba(16,49,90,1) !important

#controls-bottom
    position fixed
    bottom 15px
    left 360px
    z-index 3
    margin-top 15px

#go-top
    cursor pointer
    padding $padding
    width 10px
    line-height 25pt
    text-align center
    font $font
    display none
    color white
    background rgba(16,49,90,0.5)
    &:hover
        background rgba(16,49,90,1) !important

#search
    position absolute
    top 0px
    left 0px
    width 335px
    height 147px
    font-size 0
    margin 15px
    padding 0px
    z-index 15
    background transparent

.tab
    cursor pointer
    padding $padding
    width 137px
    line-height 25pt
    text-align center
    font $font
    display inline-block
    color white
    background rgba(16,49,90,0.5)
    &:hover
        background rgba(16,49,90,1) !important

.active
    background rgba(16,49,90,1) !important

.search-field
    width 307px
    line-height 25pt
    font $font
    display block
    padding 12px
    outline none
    border 0px

.invalid
    background rgba(255,11,0,0.3)

.search-button
    cursor pointer
    padding $padding
    width 150px
    line-height 25pt
    text-align center
    font $font
    display block
    color white
    background rgba(16,49,90,0.5)
    &:hover
        background $bg !important

#events
    position absolute
    top 160px
    left 0px
    height (100% / 1.245)
    overflow-y auto
    overflow-x hidden
    font $font
    color white
    background-color rgba(16,49,90,0.5)
    margin 15px
    z-index 6

#event-item
    position relative
    width $sidebar_width
    height 120px
    padding $padding
    background transparent
    &:hover
        background rgba(16,49,90,0.6)
        cursor pointer

.selected
    background rgba(16,49,90,0.6) !important

.artist-pic
    width 50px
    height 50px
    float left
    margin 30px 15px 5px 0

.artist-data
    margin 5px 5px 5px 80px

#status
    position absolute
    top 0px
    left 400px
    display none
    width 100px
    margin 15px
    padding $padding
    font normal small-caps 18px fantasy
    color white
    text-align center
    background $bg

/**
 * Autocomplete
 */

#autocomplete
    position absolute
    z-index 10
    font $font
    line-height 18pt
    width 331px
    cursor pointer
    background white

#autocomplete > div
    display none

#autocomplete div div
    padding 10px

.hover
    background #dfdfdf

/**
 * Map area
 */

#map
    position fixed
    top 0px
    left 0px
    width 100%
    height 100%
    margin 0px
    padding 0px
    z-index 2

/**
  * Scrollbar
  */

::-webkit-scrollbar
    width 9px

::-webkit-scrollbar-thumb
    background-color rgba(16,49,90,1)

/**
  * Map elements
  */

.dot
    border-radius 50%

.leaflet-container
    color white !important

.leaflet-popup-content-wrapper
    border-radius 0 !important
    background rgba(16,49,90,1) !important

.leaflet-popup-tip
    border-top 10px solid rgba(16,49,90,1) !important