
$bg = rgba(16,49,90,1)
$font = bold small-caps 16px serif
$sidebar_width = 303px
$padding = 14px
$paddingLess = 8px

$fontSmall = bold small-caps 12px serif
$fontHeader = bold small-caps 18px serif

body
	overflow hidden

/**
 * Sidebar and Controls
 */

#sidebar
	position fixed
	top 0px
	left 0px
	width 360px
	height 100%
	background rgba(16,49,90,0.2)
	z-index 3

#controls
	position absolute
	top 0px
	left 360px
	width 800px
	z-index 3

#controls .layers
	display none

#controls a
	cursor pointer
	padding $padding
	width 60px
	margin-top 15px
	line-height 25pt
	text-align center
	font $font
	display inline-block
	color white
	background rgba(16,49,90,0.5)
	&:hover
		background $bg !important

#controls input
	line-height 33pt
	outline none
	border none
	display none

#slide
	width 10px !important

#go-top
	position fixed
	bottom 15px
	left 360px
	margin-top 15px
	width 10px !important

/**
  * Tags, Years, Months, Days
  */

#tags, #years, #months, #days
	position relative
	width 335px
	height 110px
	font $font
	padding 0px
	z-index 5
	background transparent
	display none

.tag, #years div div, #months div div, #days div div
	cursor pointer
	padding $paddingLess
	width 94px
	line-height 25pt
	text-align center
	font $font
	display inline-block
	color white
	background rgba(16,49,90,0.5)
	&:hover
		background $bg !important

#date-selector
	position absolute
	top 153px
	left 0px
	cursor pointer
	padding $padding
	width 60px
	margin-top 15px
	line-height 25pt
	text-align center
	font $font
	display none
	color white
	background rgba(16,49,90,0.5)
	&:hover
		background $bg !important

#date
	position absolute
	top 214px
	left 0px
	width 350px
	height 320px
	background rgba(16,49,90,0.2)
	display none

#years
	margin 15px
	display block
	height 50px

#years div div
	padding 4px
	width 70px

#months
	margin 15px
	display block

#months div div
	padding 5px
	width 95px

#days
	margin 15px
	display block

#days div div
	padding 3px
	width 25px

/**
 * Search
 */

#search
	position relative
	width 335px
	font-size 0
	margin 15px
	padding 0px
	z-index 15
	clear both
	background transparent

.tab
	cursor pointer
	padding $padding
	width 137px
	line-height 25pt
	text-align center
	font $font
	display inline-block
	color white
	background rgba(16,49,90,0.5)
	&:hover
		background $bg !important

.active
	background $bg !important

.search-field
	width 307px
	line-height 25pt
	font $font
	display block
	padding 12px
	outline none
	border 0px

.invalid
	background rgba(255,11,0,0.3)

.search-button
	cursor pointer
	padding $padding
	width 150px
	line-height 25pt
	text-align center
	font $font
	display inline-block
	color white
	background rgba(16,49,90,0.5)
	&:hover
		background $bg !important

.festivals
	width 20px
	cursor pointer
	padding $padding 1px $padding 10px
	margin-left 3px
	font $font
	display inline-block
	vertical-align top
	color white
	background rgba(16,49,90,0.5)
	&:hover
		background $bg !important

/**
 * Events
 */

#events
	position relative
	width 92%
	height (100% / 1.237)
	overflow hidden
	font $font
	color white
	background-color rgba(16,49,90,0.5)
	margin 15px
	display none
	z-index 6

#event-item
	position relative
	width $sidebar_width
	height 120px
	border-bottom 1px solid #e8e0d8
	padding $padding
	background transparent
	&:hover
		background $bg
		color rgb(210,200,191)
		cursor pointer

.selected
	background $bg !important
	color rgb(210,200,191)

.artist-pic
	width 50px
	height 50px
	float left
	margin 30px 15px 5px 0

.artist-data
	width 210px
	font $font
	margin 5px 5px 5px 80px

.save-event
	position relative
	float right
	right 20px
	width 35px
	color white
	padding 5px
	background transparent
	&:hover
		background white
		color rgba(16,49,90,1)
		cursor pointer

/**
 * Status
 */

#status
	position absolute
	top 92px
	left 345px

#status div
	width 100px
	margin 15px
	padding $padding
	font $font
	color white
	text-align center
	display none
	background $bg

/**
 * Autocomplete
 */

#autocomplete
	position absolute
	z-index 10
	font $font
	line-height 18pt
	width 331px
	cursor pointer
	background white

#autocomplete > div
	display none

#autocomplete div div
	padding 10px

.hover
	background #dfdfdf

/**
  * User settings
  */

#settings
	position absolute
	top 0px
	right 15px
	z-index 3
	margin-top 15px

#settings a
	cursor pointer
	padding $padding
	line-height 25pt
	text-align center
	font $font
	display inline-block
	color white
	background rgba(16,49,90,0.5)
	&:hover
		background $bg !important

#settings img
	cursor pointer
	margin-top -1px
	width 47px
	display inline-block
	vertical-align middle
	border 0px
	color white

/**
 * Map area
 */

#map
	position fixed
	top 0px
	left 0px
	width 100%
	height 100%
	margin 0px
	padding 0px
	z-index 2

/**
  * Map elements
  */

.dot
	border-radius 50%

.leaflet-container
	color white !important

.leaflet-popup-content-wrapper
	border-radius 0 !important
	background $bg !important

.leaflet-popup-tip
	border-top 10px solid $bg !important

/**
  * Notification
  */

#notification
	position absolute
	margin 18% 36%
	font $fontHeader
	color white
	z-index 30

#notification > div
	display none
	padding 40px
	width 400px
	background #0c1f38
	text-align center

@-moz-document url-prefix()
	.tab, .search-field, .search-button, #events, .artist-data, #status, #autocomplete, #settings a, #controls a, .tag, #status div, .festivals
		font $fontSmall
		line-height 20px
	.search-field
		padding 14px 12px 14px 12px
		margin 2px 0 2px 0
	#controls .layers
		padding 16px 