
$font = bold small-caps 20px serif

#area
	background url('../registration.jpg')
	background-position bottom left
	top 0px
	left 0px
	width 100%
	height 100%
	position absolute
	overflow hidden

#registration-area, #login-area
	position relative
	width 500px
	height 290px
	margin 15% 35%
	background #0c1f38

input
	position relative
	top 50px
	left 50px
	width 75%
	line-height 25pt
	font $font
	display block
	padding 15px
	margin-top 15px
	outline none
	border 0px

button
	position relative
	top 50px
	left 50px
	width 200px
	cursor pointer
	padding 15px
	margin-top 15px
	line-height 30pt
	text-align center
	font $font
	outline none
	display block
	color #0c1f38
	border 0px
	background #cadaee
	&:hover
		background #597077 !important

#homepage
	position absolute
	top 0px
	right 30px
	z-index 3
	margin-top 30px

#homepage a
	cursor pointer
	padding 14px
	line-height 25pt
	text-align center
	font $font
	display inline-block
	color white
	background rgba(16,49,90,0.5)
	&:hover
		background rgba(16,49,90,1) !important

.active
	background rgba(16,49,90,1) !important
