
$fontSmall = bold small-caps 16px serif
$font 	   = bold small-caps 20px serif
$fontTitle = bold small-caps 25px serif

/**
  * Area
  */

#area
	background url('../registration.jpg')
	background-position bottom left
	top 0px
	left 0px
	width 100%
	height 100%
	position absolute
	overflow hidden

/**
  * Header
  */

#homepage
	position absolute
	top 0px
	right 30px
	z-index 3
	margin-top 30px

#homepage a
	cursor pointer
	padding 14px
	line-height 25pt
	text-align center
	font $font
	text-decoration none
	display inline-block
	color white
	background rgba(16,49,90,0.5)
	&:hover
		background rgba(16,49,90,1) !important

/**
  * Main
  */

main
	position relative
	width 500px
	background #0c1f38

#registration-area
	height 420px
	margin 12% 35%

#reset-area
	height 410px
	margin 12% 35%

#login-area
	height 350px
	margin 12% 35%

#success-area
	height 150px
	margin 17% 35%

#forgot-area
	height 280px
	margin 15% 35%

#profile-area
	width 900px 
	height 710px
	margin 7% 25%

#profile-stuff
	width 450px
	float left

#profile-stuff img
	position relative
	top 80px
	left 50px
	width 150px
	float none
	margin-bottom 65px
	clear both

#profile-stuff input[type="file"]
	width 270px
	float right
	font $fontSmall
	color white
	display inline-block

#profile-stuff input[type="radio"]
	display inline-block
	width 50px

#profile-stuff label[for="sex"]
	display inline-block

dialog
	position absolute
	margin 10% 18%
	font $fontTitle
	color white

dialog a
	text-decoration none
	color #0c1f38
	padding 12px
	background #cadaee
	&:hover
		background #597077 !important

label, #profile-stuff label
	position relative
	top 50px
	left 50px
	font $fontTitle
	color white
	display block

#profile-stuff label
	font $font
	margin-top 20px

main input
	position relative
	top 50px
	left 50px
	width 75%
	line-height 25pt
	font $font
	display block
	padding 15px
	margin-top 15px
	outline none
	border 0px

main button, #reset
	position relative
	top 50px
	left 50px
	width 200px
	cursor pointer
	margin-top 15px
	line-height 30pt
	text-align center
	outline none
	display inline-block
	border 0px	

#submit
	padding 15px
	font $font
	width 200px
	cursor pointer
	outline none
	display inline-block
	color #0c1f38
	background #cadaee
	&:hover
		background #597077 !important

#forgot, #reset
	padding 5px
	font $fontSmall
	color white
	background #0c1f38
	text-decoration none

.active
	background rgba(16,49,90,1) !important

.error
	position relative
	top 50px
	left 50px
	font $fontSmall
	color white


@-moz-document url-prefix()
	label, dialog
		font bold small-caps 22px serif
	main input, #submit, #homepage a
		font bold small-caps 17px serif
	#forgot
		font bold small-caps 13px serif