<a id="slide"><b><</b></a>
<a id="markers" class="layers active"><b>markers</b></a>
<a id="paths" class="layers active"><b>paths</b></a>
<select id="select-month" name="month">
	<option selected>Месяц</option>
	<option value="1">Январь</option>
	<option value="2">Февраль</option>
	<option value="3">Март</option>
	<option value="4">Апрель</option>
	<option value="5">Май</option>
	<option value="6">Июнь</option>
	<option value="7">Июль</option>
	<option value="8">Август</option>
	<option value="9">Сентябрь</option>
	<option value="10">Октябрь</option>
	<option value="11">Ноябрь</option>
	<option value="12">Декабрь</option>
</select>
<select id="select-day" name="day">
	<option selected>День</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
	<option value="27">27</option>
	<option value="28">28</option>
	<option value="29">29</option>
	<option value="30">30</option>
	<option value="31">31</option>
</select>
<a id="go-top"><b>^</b></a>