<img src="<%= image %>" class="artist-pic" />
<div class="artist-data">
<%= title %><br/><br/>
<%= (new Date(date)).toLocaleDateString('ru-RU') %><br/>
<%= artists.headliner %><br/><br/>

<%= artists.artist %><br/><br/>

<%= venue.name %><br/>
<%= venue.location.street %><br/>
<%= venue.location.city %><br/>
<%= venue.location.country %><br/>
</div>