<img src="<%= image %>" class="artist-pic" />
<div class="artist-data">
<%= (new Date(date)).toLocaleDateString('ru-RU') %><div class="save-event">Иду</div><br/>
<%= artists.headliner %><br/><br/>
<%= venue.name %><br/>
<%= venue.location.city %> <%= venue.location.country %><br/>
</div>