<div id="tabs">
    <a class="tab active" id="artist">By artist</a>
    <a class="tab" id="city">By city</a>
</div>
<input class="search-field" placeholder="Enter <%= activeTab %>..">              
<div id="autocomplete"></div>
<a class="search-button">Search</a>